.imgServieces {
  position: relative;
  height: 200px;
  margin: 1px;
}
.imgServieces img {
  position: relative;
  margin-top: 1.5rem;
  width: 250px;
}

.text_service1 {
  position: absolute;
  z-index: 500;
  bottom: 1rem;
  left: 4rem;
}
.text_service1 h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.text_service1 p {
  color: #fff;
  font-weight: 200;
  font-size: 10px;
}
/* 2 */
.text_service2 {
  position: absolute;
  z-index: 500;
  bottom: 1rem;
  left: 2.6rem;
}
.text_service2 h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.text_service2 p {
  color: #fff;
  font-weight: 200;
  font-size: 10px;
}
/* 3 */
.text_service3 {
  position: absolute;
  z-index: 500;
  bottom: 1rem;
  left: 3rem;
  text-align: center;
}
.text_service3 h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.text_service3 p {
  color: #fff;
  font-weight: 200;
  font-size: 10px;
}
/* 4 */
.text_service4 {
  position: absolute;
  z-index: 500;
  bottom: 1rem;
  left: 2.5rem;
}
.text_service4 h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.text_service4 p {
  color: #fff;
  font-weight: 200;
  font-size: 10px;
}
/* 5 */
.text_service5 {
  position: absolute;
  z-index: 500;
  bottom: 1rem;
  left: 4rem;
}
.text_service5 h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.text_service5 p {
  color: #fff;
  font-weight: 200;
  font-size: 10px;
}
/* 6 */
.text_service6 {
  position: absolute;
  z-index: 500;
  bottom: 1rem;
  left: 4.5rem;
}
.text_service6 h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.text_service6 p {
  color: #fff;
  font-weight: 200;
  font-size: 10px;
}
.gradient_services {
  position: absolute;
  height: 500px;
  width: 100%;
  background: linear-gradient(0deg, rgba(2, 30, 89, 0.788) 0%, transparent);
  z-index: 300;
}
.containerbtn_service {
  margin-bottom: -1.5rem;
  display: flex;
  justify-content: center;

  /* margin-bottom: -2rem; */

  z-index: 1000;
}
