.container_nav1 {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 10000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container_top {
  background-color: var(--primary-color);
  padding: 0.5rem;
}
.container_top a {
  color: var(--secondary-color);
  padding: 0.3rem;
}
.container_top a:hover {
  text-decoration: underline;
}
.container_top p {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-align: right;
  margin-right: 2rem;
}

.text__nav {
  color: #4d2224;
  font-size: 1 rem;
  font-weight: 400;
  margin: 0 1rem;
}
.text__eng {
  font-size: 12px;
  margin: 0 1rem;
  text-transform: uppercase;
}
.logo img {
  width: 3.5rem;
}

.align__con {
  gap: 0.5rem;
}
.img__thai {
  width: 2rem;
}
.align {
  font-size: 2rem;
}
.align_search {
  font-size: 1.2rem;
}
.search {
  margin: 0 1rem;
}
.nav-area {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 58px;
}

.menus {
  display: flex;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menu-items a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #d89000;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #d89000;
  border-radius: 0.5rem;
  display: none;
}
.dropdown:hover {
  background: rgb(255, 180, 18);
}

.dropdown.show {
  display: block;
}

.dropdown.dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}
