* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  scroll-behavior: smooth;
}
html {
}
:root {
  --primary-color: #270108;
  --secondary-color: #ffd000;
  --gray-light-color: #e9e9e9;
  --gray-normal-color: #808080;
  --gray-dark-color: #2a2a2a;
  --white-color: #fff;
  --black-color: #000;
}
.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexBetween {
  display: flex;
  row-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.innerWidth {
  width: 100%;
}
.button {
  font-weight: 200;
  font-size: 14px;
  padding: 0.6rem 1.4rem;
  color: var(--gray-dark-color);
  background: #ffd000;
  border: none;
  transition: all 300ms ease-in;
}
.button:hover {
  cursor: pointer;
  color: #fff;
  background: var(--gray-dark-color);

  background-size: 220%;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button2 {
  font-weight: 200;
  font-size: 14px;
  padding: 0.6rem 1.4rem;
  color: var(--gray-dark-color);
  background: #fff;
  border: none;
  transition: all 300ms ease-in;
}
.button2:hover {
  cursor: pointer;
  color: var(--gray-normal-color);

  background-size: 220%;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paddings {
  padding: 1.5rem;
}
a {
  text-decoration: none;
}
.padding {
  padding: 0 0.3rem;
}
.text-Primary {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 14px;
}
.text-Secondary {
  color: #ffd000;
  font-weight: 400;
  font-size: 14px;
}
.nav__button:link,
.nav__button:visited,
.nav__button {
  cursor: pointer;
  font-weight: 300;
  background-size: 220%;
  background-image: linear-gradient(
    -120deg,
    #d89000 0%,
    rgb(129, 12, 17) 20%,
    rgb(255, 255, 255) 50%
  );

  transition: all 0.4s;
}
.nav__button:hover,
.nav__button:active {
  background-position: 100%;
  color: #fff;
}
.container-swiper img {
  margin-top: 29rem;
}
.text-p {
  font-weight: 300;
  color: #fff;
  font-size: 14px;
}
.text-s {
  font-weight: 500;
  color: #fff;
  font-size: 16px;
}
.text-h3 {
  font-weight: 300;
  color: #fff;
  font-size: 26px;
}
.text-h1 {
  font-weight: 500;
  /* color: #fff; */
  font-size: 4rem;
}
